<a href="https://colab.research.google.com/github/Roopakrpk/My_Python_Code/blob/main/Lambda_Expressions%2C_Map%2C_and_Filter_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def square(num):
  return num**2

In [ ]:
my_nums = [1,2,3,4,5]

In [ ]:
for items in map(square,my_nums):
  print(items)

1
4
9
16
25

In [ ]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [ ]:
def splicer(mystring):
  if len(mystring)%2 == 0:
    return 'EVEN'
  else:
    return mystring[0]

In [13]:
names = ['Andy','Sam','David']

In [ ]:
list(map(splicer,names))

['EVEN', 'S', 'D']

In [1]:
def check_even(num):
  return num%2 == 0

In [2]:
mynums = [1,2,3,4,5,6]

In [3]:
list(filter(check_even,mynums))

[2, 4, 6]

In [4]:
for n in filter(check_even,mynums):
  print(n)

2
4
6

In [ ]:
#lambda's are anonymous function and we typically dont name them

In [6]:
square = lambda num: num ** 2

In [8]:
square(2)

4

In [9]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [10]:
list(filter(lambda nums: nums%2 == 0,mynums))

[2, 4, 6]

In [14]:
names

['Andy', 'Sam', 'David']

In [17]:
list(map(lambda x:x[::-1],names))

['ydnA', 'maS', 'divaD']