<a href="https://colab.research.google.com/github/Roopakrpk/My_Python_Code/blob/main/Methods_and_Functions_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Print the count of lowercase and uppercase letters

def up_low(s):
  lowercase = 0
  uppercase = 0
  for char in s:
    if char.islower():
      lowercase += 1
    elif char.isupper():
      uppercase += 1
    else:
      pass
  print(f'No. of lowercase characters: {lowercase}')
  print(f'No. of uppercase characters: {uppercase}')

In [3]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

No. of lowercase characters: 33
No. of uppercase characters: 4

In [7]:
# Another way of doing the above with dictionary.

def up_low(s):
  d = {'upper':0,'lower':0}

  for char in s:
    if char.islower():
      d['lower'] += 1
    elif char.isupper():
      d['upper'] += 1
    else:
      pass
  print(f'No. of lowercase characters: {d["lower"]}')
  print(f'No. of uppercase characters: {d["upper"]}')

In [8]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

No. of lowercase characters: 33
No. of uppercase characters: 4

In [14]:
# Write a Python function that takes a list and returns a new list with unique elements of the first list

def unique(lists):
  x = []
  for number in lists:
    if number not in x:
      x.append(number)
  return x

In [15]:
unique([1,1,1,2,2,3,4,5,4,3,2,4,5])

[1, 2, 3, 4, 5]

In [16]:
# Another way of doing the above with simple way.

def unique_list(lst):
  return list(set(lst))

In [12]:
unique_list([1,1,1,2,2,3,4,5,4,3,2,4,5])

[1, 2, 3, 4, 5]

In [17]:
# Write a Python function to multiply all the number in a list.
def multiply(numbers):
  total = 1
  for num in numbers:
    total = total * num
  return total

In [20]:
multiply([1,5,3,-4])

-60

In [23]:
# Write a Python function that checks whether a word or phrase is palindrome or not.
def palindrome(s):
  # Remove Spaces from the String
  s = s.replace(' ','')
  # Check is string is == reversed version of the string
  return s == s[::-1]

In [24]:
palindrome('nurses run')

True

In [6]:
# Write a Python function to check whether a string is pangram or not.
#Note: Pangrams are words or sentences that conatins every letter of alphabet at least once

import string

def ispangram(str1, alphabet=string.ascii_lowercase):
  # Create a set of the alphabet
  alphaset = set(alphabet)
  print(alphaset)
  # Remove any spaces from the input string
  str1 = str1.replace(' ','')
  # Convert into all lowercase
  str1 = str1.lower()
  print(str1)
  # Grab all unique letters from the string
  str1 = set(str1)
  # Alphabet set == string set input
  return str1 == alphaset

In [7]:
ispangram(
    "The quick brown fox jumps over the lazy dog"
)

{'d', 'k', 's', 'r', 'f', 'l', 'p', 'c', 't', 'q', 'a', 'i', 'g', 'x', 'm', 'e', 'o', 'y', 'v', 'z', 'w', 'b', 'n', 'h', 'j', 'u'}
thequickbrownfoxjumpsoverthelazydog

True

In [8]:
ispangram(
    "The quick black fox jumps over the lazy dog"
)

{'d', 'k', 's', 'r', 'f', 'l', 'p', 'c', 't', 'q', 'a', 'i', 'g', 'x', 'm', 'e', 'o', 'y', 'v', 'z', 'w', 'b', 'n', 'h', 'j', 'u'}
thequickblackfoxjumpsoverthelazydog

False

In [11]:
# Write a function that computes the volume of a sphere given its radius

def vol(rad):
  return (4/3)*(3.14)*(rad**3)

In [12]:
vol(2)

33.49333333333333

In [17]:
# Write a function that checks whether a number is in a given range (inclusive of high and low)

def ran_check(num,low,high):
  if num in range(low,high+1):
    print(f'{num} is in the range of {low} and {high}')
  else:
    print('Not in range!')

In [18]:
ran_check(5,2,5)

5 is in the range of 2 and 5

In [19]:
ran_check(5,2,3)

Not in range!