<a href="https://colab.research.google.com/github/Roopakrpk/My_Python_Code/blob/main/Print_Formatting_with_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Formatting with .format() method

A good way to format objects into your strings for print statements is with the string.format() method. The syntax is defined in the code cell.

In [1]:
print('This is a String {}'.format('INSERTED'))

This is a String INSERTED

In [2]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [4]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [5]:
print('The {q} {b} {e}'.format(e='elephant',b='brown',q='quick'))

The quick brown elephant

In [6]:
print('The {e} {e} {e}'.format(e='elephant',b='brown',q='quick'))

The elephant elephant elephant

In [7]:
# Float formatting follows "{value:width.precision f}"
result = 100/777

In [8]:
result

0.1287001287001287

In [14]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [11]:
print("The rsult was {r:1.3f}".format(r=result))

The rsult was 0.129

In [12]:
name = 'Jose'

In [13]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [15]:
name = 'Sam'

In [16]:
age = 3

In [17]:
# f string literals can also be used here
print(f'{name} is {age} years old.')

Sam is 3 years old.